@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #ffffff;
    --second-color: rgb(19, 99, 222);
    --second-color-dark: rgb(16, 84, 185);
    --third-color: rgba(151, 151, 151, 0.548);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    padding: 20px;
    background-color: white;
}

.container>h1 {
    text-align: center;
}

form {
    display: flex;
    padding: 20px 0;

    flex-flow: column nowrap;
}

form input {
    height: 50px;
    font-size: 24px;
    padding: 0px 20px;
    border: 1px solid var(--third-color);
    margin-top: 10px;
}


form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    font-size: 20px;
    background-color: var(--second-color);
    color: rgb(255, 255, 255);
    height: 50px;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

form button:hover {
    background-color: var(--second-color-dark);
}

ul {
    list-style: none;
    padding: 0;
}

#lista>li,
#porCategoria>li {
    font-size: 20px;
    border-bottom: 1px solid var(--third-color);
    text-transform: capitalize;
    padding: 20px 0;
}

.excluir {
    background-color: white;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 20px;
}


.resultado>h2 {
    font-size: 25px;
    border-bottom: 1px solid var(--third-color);
    padding: 20px 0;
}

.total {
    background-color: var(--third-color);
    height: 50px;
    border-radius: 10px;
}

.total>h2 {
    padding: 10px;
}

@media (min-width:1150px) {
    .container {
        display: flex;
        margin: 0 5%;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    h1 {
        width: 100%;
        height: 50px;
    }

    .bloco{
        display: flex;
        width: 100%;
        border-top: 1px solid var(--third-color);
        border-bottom: 1px solid var(--third-color);
        justify-content: space-between;
    }

    form {
        flex-flow: row nowrap;
    }
    form input{
        margin: 0 10px;
    }

    .descricao {
        width: 200px;
        margin-right: 10px;
    }

    .valor {
        width: 120px;
    }

    .categoria {
        width: 150px;

    }
    form button{
        width: 150px;
        margin: 0;
    }
    .total{
        display: block;
        align-self: center;
        height: 31px;
        background-color: #ffff;
        margin: 0 30px;
    }

    .total:hover{
        text-decoration: underline;
    }
    .total>h2{
        padding: 0;
        margin: 0;
    }

    .resultado {
        display: flex;
        width: 70vw;
        margin: auto;
        justify-content: space-between;
    }
    .right, .left{
        display: flex;
        flex-direction: column;
    }
}
    /*
}*/