@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: rgb(226, 226, 226);
    --second-color: rgb(19, 99, 222);
    --second-color-dark: rgb(16, 84, 185);
}

* {
    box-sizing: border-box;

    outline: 0;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(151, 151, 151, 0.548);
    box-shadow: 2px 2px 7px rgba(19, 19, 19, 0.507);
}
.container>h1{
    text-align: center;
}

form{
    display: flex;
    padding: 20px 0;
    border-top: 1px solid rgba(150, 150, 150, 0.404);
    border-bottom: 1px solid rgba(150, 150, 150, 0.404);
}

form input {
    height: 50px;
    font-size: 24px;
    padding: 0px 20px;
    margin-right: 10px;
    border: 1px solid rgba(150, 150, 150, 0.404);
}
.descricao{
    width: 300px;
    margin-right: 10px;
}

.valor{
    width: 150px;
}

.categoria{
    width: 200px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    font-size: 20px;
    background-color: var(--second-color);
    color: rgb(255, 255, 255);
    height: 50px;
    width: 120px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0px 20px;
}

form button:hover {
    background-color: var(--second-color-dark);
}
ul{
    list-style: none;
}

#lista > li, #porCategoria> li{
    font-size: 20px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.404);
    text-transform: capitalize;
    padding: 20px 0;
}
.excluir{
    background-color: white;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 20px;
}


.resultado > h2{
    font-size: 25px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.404);
    padding: 20px 0;
    border-top: 1px solid rgba(150, 150, 150, 0.404);
}

.total{
    background-color: rgba(150, 150, 150, 0.404);
    height: 50px;
    border-radius: 10px;
}

.total>h2{
    padding: 10px;
}